<div>
  <form method='POST' action='/login'>
    <input class="auth-input" id='index-login' type='text' placeholder="Логин">
    <input class="auth-input" id='index-password' type='text' placeholder="Пароль">
    <button type='submit' id="btn-login">Войти</button>
    <a href='/registration'>Регистрация</a>
  </form>
</div>