<div>
  <form method='POST' action='/login'>
    <input class="auth-input" id='login' type='text' placeholder="Логин">
    <input class="auth-input" id='password' type='text' placeholder="Пароль">
    <a href='' id='reg'>Регистрация</a>
  </form>
</div>